/**
 * genral style
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto' sans-serif;
  background: #f4f4f4;
  line-height: 1.4;
  color: rgba(229, 240, 238, 0.904);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(229, 240, 238, 0.904);
}

/**
 * nav bar
 */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #5d4954;
}

/* the first element */
.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.3rem;
}

/* links in navbar the second element */
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

/* burger menu */
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(229, 240, 238, 0.904);
  margin: 5px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #7c6773;
  padding: 0.3rem;
  border-radius: 20px;
  color: #ffffff;
}

/**
 * mobile size
 */

@media screen and (max-width: 780px) {
  body {
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* animate the burger icon to x  the class .togle add throw the javascript  */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
  /* remove the midle line */
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
